.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 2rem;
    align-items: flex-start;

    
}

.wrapper main {
    margin: -4rem auto;
    padding: -2 1rem;
    align-items: center;    
}



