.container {
    height: 100vh;
    width: 100vw;
 
}

.wrapper {
    padding: -5 0rem;
    margin-top: calc(0px - 2.5rem);
    display: grid;
    height: 90%;
    justify-content: center;
    
    
    
    
       
}







