.newTaskBox {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    background: gray;
    border-radius: 8px;
    padding: 1rem;
    gap: 2rem;
}

.taskContent {
    display: flex;
    gap: 2rem;
}



.newTask button {
    height: 2rem;
    width: 4rem;
    margin-left: 1rem;
    border-radius: 8px;
    color: white;
    background: red;
    font-weight: bold;
    cursor: pointer;
}